/*************************************
    MAIN
*/

/* 1st level boxes */
.row_container > [class^="col_"] {
  background-color: #f4b9c1;
  height: 20vh;
  padding: 5px;
  border: 1px solid black;
}

/* 2nd level boxes */
[class^="col_"] > [class^="col_"] {
  background-color: #e78282;
  height: 100%;
  border: 1px solid white;
}

/*************************************
    LABELS
*/

/* label container */
[class^="col_"] {
  position: relative;
}

/* label settings */
[class^="col_"]::before {
  /* content: "label"; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  color: rgba(0,0,0,0.75);
  min-width: 24px;
  text-align: center;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.1);
}

/* 1st level label text */
.row_container > .col_1::before {
  content: "1 col";
}
.row_container > .col_2::before {
  content: "2 col";
}
.row_container > .col_8::before {
  content: "8 col";
}
.row_container > .col_6::before {
  content: "6 col";
}
.row_container > .col_12::before {
  content: "12 col";
}

/* 2nd level label text */
[class^="col_"] > .col_2::before {
  content: "Nested 2 col";
}
[class^="col_"] > .col_6::before {
  content: "Nested 6 col";
}
[class^="col_"] > .col_8::before {
  content: "Nested 8 col";
}

/*************************************
    SCHERZO
*/

[class^="col_1"]:nth-child(3n+2) {
  animation-name: test;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-time-function: linear;
  animation-delay: 10s;
}
[class^="col_1"]:nth-child(2n+1) {
  animation-name: test;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-time-function: linear;
  animation-delay: 14s;
}
[class^="col_"] {
  animation-name: test;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-time-function: linear;
  animation-delay: 18s;
}
@keyframes test {
0%   {transform: rotate(0deg);}
25%  {transform: rotate(10deg);}
50%  {transform: rotate(360deg);}
75%  {transform: rotate(750deg);}
100% {transform: rotate(0deg);}
}
